.instructions-flex-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.plant-chi-img {
  width: 20vh;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.text {
  align-self: center;
  padding-left: 2ch;
}