/* Choose a spot style */
.spot-choice-c {
  height: 100%;
  width: 100%;
}

.flex-c-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}
.flex-c-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-aligned-left {
  justify-content: left;
}

.img-plantchi-head {
  width: 15%;
}

.plantchi-speaks-p {
  padding-left: 1rem;
}

.room-spot-choice {
  /* margin: 0px auto; */
  height: 50%;
  /* text-align: right; */
}
.spot-choice-img {
  margin: 0px auto;
  height: 100%;
  display: block;
  /* text-align: right; */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

.spot-choice-c {
  /* padding-right: 1rem; */
  text-align: right;
}