/* CSS variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* Why ?  So that we have all names used in 1 place :) */

/* :root {
  --main-bg-color: green;
}
body {
  background-color: var(--main-bg-color);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aligned-center {
  text-align: center;
  display: block;
  margin: 1rem;
  padding: 1rem;
}

.flex-col-centered {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
.btn {
  display: block;
  border: none;
  width: max-content;
  padding: 1rem 2rem;
  margin: auto;
  text-decoration: none;
  background: lightseagreen;
  color: #009846;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.2ch;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  background: mediumseagreen;
}

button:focus,
.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active,
.btn:active {
  transform: scale(0.99);
}

input:focus {
  outline: none;
  border-bottom: 0.1rem solid lightslategrey;
}

input {
  border:none;
  outline-width: 0;
  border-bottom: 0.1rem solid lightsteelblue;
  padding: 0.5rem;
}

::placeholder {
  color: lightslategrey;
  text-align: center;
}
