@font-face {
  font-family: PixelFont;
  src: url(../fonts/NineteenNinetyThree-L1Ay1.ttf) ;
  font-style: normal;
  font-weight: 100;
}


:root {
  --yellow: #fff72c;
  --whitish: #ebffff;
  --brown:#77412f;
  --pink:#eeacaf;
  --green:#009846;

  
}

body {
  background-color: var(--whitish);
  font-family: PixelFont;
  font-weight: 100;

}


