@font-face {
  font-family: PixelFont;
  src: url(../fonts/NineteenNinetyThree-L1Ay1.ttf) ;
  font-style: normal;
  font-weight: 100;
}


:root {
  --yellow: #fff72c;
  --whitish: #ebffff;
  --brown:#77412f;
  --pink:#eeacaf;
  --green:#009846;

  
}

body {
  background-color: var(--whitish);
  font-family: PixelFont;
  font-weight: 100;

}

/* fail page */

.fail-block{
  background-color: black;
  height: 700px;
  text-align: center;
  color: var(--whitish);
  width: 100%;
}

.fail-tittle{
  padding-top:50px;
}

.plant-chi-dead-img{
  width: 15%;
  margin-top: 50px;
  margin-bottom: 30px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-30px);
}
}
@-webkit-keyframes bounce {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-20px);
}
}


